<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Darien Lombardi Portfolio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/public/app/animate.css/animate.min.css">
  <link href="/public/app/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/app/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="/public/css/portfolio.css" rel="stylesheet">

</head>

<body ng-cloak ng-app="dLombardi" ng-controller="dController" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <ul class="list-inline">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">
              <img class="logo" src="images/Darien_Lombardi_Logo_Inverse.png">
          </a>
        </ul>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
              <li class="hidden">
                  <a href="#page-top"></a>
              </li>
              <li>
                  <a class="page-scroll" href="#portfolio">Portfolio</a>
              </li>
              <li>
                  <a class="page-scroll" href="#about">About</a>
              </li>
              <li>
                  <a class="page-scroll" href="#contact">Contact</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- Intro Header -->
  <header class="intro animated fadeInUp">
    <div class="intro-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h1 class="brand-heading">Darien Lombardi</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img id="portrait" src="images/portrait.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div id="subtitle">
              <div class="row">
                <div class="col-xs-12">
                  <h1>
                    lover of all things
                    <span
                      class="interests txt-rotate"
                      data-period="500"
                      data-rotate='[ "Node.", "Javascript.", "Express.", "Angular.", "Mongo.", "Gulp."]'>
                    </span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <a href="#portfolio" class="btn btn-round page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div id="icons" class="col-xs-12">
            <div class="iconDiv" ng-repeat="item in social">
              <a href="{{item.link}}" target="_blank"><img class="icons" ng-src="{{item.icon}}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Portfolio Section -->
  <section id="portfolio" class="container-fluid content-section">
    <div id="portfolioHeader" class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 id="portfolioTitle" class="">Portfolio</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="gridCard col-md-6 col-lg-4" ng-repeat="project in portfolio">
          <div class="card-container">
              <div class="card">
                  <div class="front">
                      <div class="cover">
                          <img class="projectImage" ng-src="{{project.image}}"/>
                      </div>
                      <div class="content">
                          <div class="main">
                              <h3 class="name">{{project.title}}</h3>
                          </div>
                      </div>
                  </div> <!-- end front panel -->
                  <div class="back">
                      <div class="header">
                        <a href="{{project.website}}" target="_blank"  class="motto">Visit {{project.title}}</a>
                      </div>
                      <div class="content">
                        <div class="row">
                          <div class="main">
                            <h5>technologies</h5>
                            <li class="tech" ng-repeat="tech in project.techs">{{tech}}</li>
                          </div>
                        </div>
                      </div>
                      <div class="footer">
                          <div class="social-links text-center">
                              <a href="{{project.github}}" class="github"><i class="fa fa-github fa-fw"></i></a>
                          </div>
                      </div>
                  </div> <!-- end back panel -->
              </div> <!-- end card -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Download Section -->
  <section id="about" class="container-fluid content-section text-center">
    <div id="aboutHeader" class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 id="aboutTitle" class="">About Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-5">
          <div id="about-section">
            <h4>Who I Am</h4>
            <div class="row about-text">
              <img id="" src="" alt="">
              <p class="description">I grew up in Chapel Hill, North Carolina with the privilage of being around the best basketball and barbecue in the world. I spent my college years in Boston, Massachusetts surrounding myself with my passions of art, technology, and music. I am a Full-stack Javascript Developer
                living and breathing software development in an immersive live-in coding bootcamp
                located in Silicon Valley. My mission is to design functional and
                elegant user experiences for the web. </p>
            </div>
            <div id="resume">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Resume</button>

              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <embed src="images/Lombardi_Resume_2015.pdf" width="600" height="700" type='application/pdf'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <img id="divider" src="images/divider.png" alt="">
        </div>
        <div id="web-presence" class="col-lg-5">
          <h4>What I've been talking about</h4>
          <div class="row">
            <div id="twitter">
              <a class="twitter-timeline" data-chrome="" href="https://twitter.com/DarienLombardi" data-widget-id="669318617503129600">Tweets by @DarienLombardi</a>
            </div>
          </div>
          <div id="blog-section">
            <h4>Blog</h4>
            <div id="blog">
              <a href="https://darienlombardi.ghost.io/node-event-emitters-tutorial/" target="_blank" class="blog-entry">
                <div>
                  Node Event Emitters Tutorial - 11/20/15
                </div>
              </a>
              <a href="https://darienlombardi.ghost.io/login-and-register-form-in-angular/" target="_blank" class="blog-entry">
                <div>
                  Login form view switching in Angular - 11/8/15
                </div>
              </a>
              <a href="https://darienlombardi.ghost.io/introduction/" target="_blank" class="blog-entry">
                <div>
                  This is new for me - 11/8/15
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="container-fluid content-section text-center">
    <div id="contact-section">
      <h1 id="comfyMessage">Don't be shy, Reach out!</h1>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <form name="emailForm" ng-submit="emailDarien()" novalidate>
            <div class="form-group">
              <label for="fullName">Enter full name</label>
              <input name="sender" ng-minlength="4" ng-model="sender" class="form-control" ng-model-options="{ updateOn: 'blur' }" placeholder="Your name" required>
              <div class="errorMessage" ng-messages="emailForm.sender.$error" ng-if="emailForm.sender.$touched && emailForm.sender.$error">
                  <p ng-message="minlength">Your name is too short.</p>
                  <p ng-message="required">Your name is required.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Enter email</label>
              <input name="email" ng-minlength="7" ng-model="email" type="email" class="form-control" ng-model-options="{ updateOn: 'blur' }" placeholder="Your email" required>
              <div class="errorMessage" ng-messages="emailForm.email.$error" ng-show="emailForm.email.$touched">
                  <div ng-messages-include="./partials/messages.html"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input name="title"  ng-model="title" ng-minlength="3" type="text" class="form-control" ng-model-options="{ updateOn: 'blur' }" placeholder="Title" required>
              <div class="errorMessage" ng-messages="emailForm.title.$error" ng-show="emailForm.title.$touched">
                  <p ng-message="minlength">Title is too short</p>
                  <p ng-message="required">Title is required</p>
              </div>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea name="content" ng-model="content" ng-minlength="20" class="form-control" cols="30" rows="10" ng-model-options="{ updateOn: 'blur' }" placeholder="Message" required></textarea>
              <div class="errorMessage" ng-messages="emailForm.content.$error" ng-show="emailForm.content.$touched">
                  <p ng-message="minlength">Message is too short</p>
                  <p ng-message="required">Message is required.</p>
              </div>
            </div>
            <button type=”submit” class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
  <script src="/public/app/jquery/dist/jquery.min.js"></script>
  <script src="/public/app/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/public/app/angular/angular.min.js"></script>
  <script src="/public/app/angular-messages/angular-messages.js"></script>
  <script src="/public/app/jquery-easing/jquery.easing.min.js"></script>

  <!-- Angular JavaScript -->
  <script src="/public/js/ngPortfolio.js"></script>
  <!-- jQuery JavaScript -->
  <script src="/public/js/portfolio.js"></script>

</body>

</html>
