
body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #8AC6BD;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: black;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
  padding-bottom: 5px;
    color: black;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    text-decoration: none;
    outline: 0;
    color: #85c6bd;
    text-decoration: underline;
    -webkit-text-decoration-color: #85c6bd;
    -moz-text-decoration-color: #85c6bd;  /* vendor prefix not required as of V36 */
    text-decoration-color: #85c6bd;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    text-decoration: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    text-decoration: none;
    color: #85c6bd;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: rgba(255,255,255,.7);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: black;
    background: no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    margin-top: 50px;
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-round {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-round i.animated {
  color: white;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-round:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

#text-cycle{
  height: 50px;
}

#icons{
  padding-bottom: 2em;
}

#contact{
  height: 1000px;
  background-color: #E7E7E7;
  width: auto;
  padding-bottom: 20em;
  color: black;
}

#contact-section{
  height: 100%;
  padding: 0px;
  margin-top: -14em;
}

#contact-section label{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#about {
    height: auto;
    width: 100%;
    padding: 50px 0;
    color: black;
    background: no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    #about {
        padding: 100px 0;
    }

}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    width: 100px;
    height: 50px;
    border: 1px solid #E7E7E7;
    color: white;
    background-color: rgba(134, 198, 189, 1);
}

.btn-default:hover,
.btn-default:focus {
    outline: 0;
    color: white;
    background-color: #5F8C86;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

svg{
  width: 100%;
  height: 30%;
  letter-spacing: 0.3em;
}

.logo{
  margin-top: -32px;
  width: 85px;
}

.logo:hover{
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition-duration: 1s;
}

.social{
  margin-left: vw;
  margin-top: -12px;
  width: 45px;
  height: 45px;
}

.social:hover{
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition-duration: 1s;
}

#portrait{
  width: 200px;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 5px;
  border: 5px solid black;
}

.btn-round {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: #FF5500;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    -moz-box-shadow: 0px 5px 3px #888;
    -webkit-box-shadow: 0px 5px 3px #888;
    box-shadow: 0px 5px 3px #888;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: #FF5500;
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

#portfolio{
  height: auto;
  width: 100%;
  padding: 75px 0px 75px 0px;
  text-align: center;
  color: black;
  background: no-repeat bottom center scroll;
  background-color: #e7e7e7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#portfolioTitle{
  margin-top: 20px;
}

.projects{
  margin-top: 30px;
}

.projectButton{
  padding: 1em;
  margin-right: 2em;
  margin-top: 0em;
  width: auto;
}

.projectImage{
  height: 100%;
  display: block;
  overflow: hidden;
}

.ton{
  margin-top: 5em;
}

.icons{
  position: relative;
  margin-top: 30px;
  width: 50px;
}

.icons:hover{
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition-duration: 1s;
}

.iconDiv{
  display: inline-block;
  width: 75px;
}

.:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}

.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}

.card-container, .front, .back {
	width: 100%;
	height: 300px;
	border-radius: 4px;
}

.card .cover{
    height: 80%;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.card .cover img{
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 10px 10px;
}
.card .content .main {
    height: 100%;
}
.card .back .content .main {
    margin-top: 10px;
    height: 100%;
}
.card .name {
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;

}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.back .content{
    height: 230px;
}

.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    padding: 10px 0 0;
    text-align: center;
}

.card .header {
    padding: 10px 10px;
    height: 10%;
}
.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #85c6bd;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .motto:hover{
    border-bottom: 1px solid #EEEEEE;
    color: rgba(95, 140, 134, 1);
}

.github{
  height: 1em;
}

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:hover .back{
        z-index: 5;
        visibility: visible;
    }
}

.tech{
  margin-top: 3px;
  text-decoration: none;
  list-style-type: none;
  font-size: 10px;
}

#divider{
  margin-top: 2em;
}


#aboutHeader{
  margin-bottom: 3em;
  margin-top: -3em;
}

#portfolioHeader{
  margin-bottom: 3em;
  margin-top: -3em;
}

#about-text{

}

#blog{
  text-align: left;
  margin-top: 3em;
  font-size: 16px;
}

#blog-section{
  margin-top: 3em;
  margin-bottom: -2em;
}

.blog-entry{
  display: block;
  padding-top: 15px;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: black;
  transition: .3s;
  border-bottom: 1px dotted black;
}

.blog-entry:hover{
  padding-left: 25px;
  color: rgba(134, 198, 189, 1);
  transition-duration: .3s;
  background-color: rgba(134, 198, 189, 0.2);
}


#resume button{
  background-color: rgba(134, 198, 189, 1);
  border: none;
}

#resume button:hover{
  background-color: rgba(95, 140, 134, 1);
  border: none;
}


#comfyMessage{
  color: black;
  margin-bottom: 2em;
}

.errorMessage{
  width: 100%;
  margin-top: 2px;
  background-color: white;
  border-radius: 5px;
}

.errorMessage p{
  padding-top: 2px;
  font-size: 15px;
  color: red;
}



@media(max-width: 1200px) {
    #aboutTitle{
      margin-top: 1em;
    }
    #divider {
      display: none;
    }
    #about-section{
      margin-top: 0em;
    }
    #web-presence{
      margin-top: 3em;
    }
    #content-section {
      margin-top: 3em;
    }
    #comfyMessage{
      color: black;
      margin-top: 3em;
    }
}

@media(max-width: 991px) {
  #contact-section{
    margin-top: -20em;
  }
}

@media(max-width: 765px) {
    #contact-section{
      margin-top: 0em;
    }
    #comfyMessage{
      color: black;
      margin-top: 3em;
    }
    #blog-section{
      margin-bottom: 3em;
    }
    #blog{
      font-size: 15px;
    }
    #text-cycle{
      margin-bottom: 100px;
    }
    .card .name{
      font-size: 15px;
    }
}


#page-top > nav > div > div.navbar-collapse.navbar-right.navbar-main-collapse.collapse.in > ul > li> a {
  color: white;
}

#page-top > nav > div > div.navbar-collapse.navbar-right.navbar-main-collapse.collapse.in > ul > li> a:focus {
  color: white;
}

#page-top > nav > div > div.navbar-collapse.navbar-right.navbar-main-collapse.collapse > ul > li > a {
  text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
